{{!-- This partial is going to store the individual question blocks that will be dynamically generated through answering a question --}}
<div class="container">
<div class="card text-center">
  <div class="card-header">
    {{question}}
  </div>
  <div class="card-body">

    <p>{{correct_answer}}</p><a href="#" class="btn btn-primary">A</a>
    <p>{{incorrect_answer[0]}}</p><a href="#" class="btn btn-primary">B</a>
    <p>{{incorrect_answer[1]}}</p><a href="#" class="btn btn-primary">C</a>
    <p>{{incorrect_answer[2]}}</p><a href="#" class="btn btn-primary">D</a>
    <h1>Hello!</h1>

  </div>
</div>
</div>