{{!-- Home Button (Dashboard) --}}
<a href="/">Home</a>
{{!-- Top Ranked Players --}}
<h2>Top Players</h2>
{{!-- username, overall score, animal rank, and sml animal image for rank --}}
<h3>{{user}} {{overallScore}} {{animal}} {{{determineRankImg rank}}}</h3>
{{!-- Highest Quiz Scores --}}
<h2>Highest quiz scores</h2>
{{!-- username, quiz score, animal rank, and sml animal image for rank --}}
<h3>{{user}} {{score}} {{animal}} {{{determineRankImg rank}}}</h3>